html { min-height: 100vh; }
body {
	margin: 0; 
	display: flex;
	flex-direction: column;
	color: #bbb;
	background: #000;
	min-height: 100dvh;
	font-family: sans-serif;
	line-height: 1.6;
}
a { 
	color: inherit; 
	text-decoration: none;
}
ul {
	list-style: none;
}

*:focus-visible, nav input:focus-visible ~ label {
	outline: solid #fff 2px;
	outline-offset: 0.2ch;
	border-radius: 2px;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 75px max(50% - 600px, 1ch);
	padding-bottom: 0;
}

nav > a.logo, nav > label {
	font-size: 2.5rem;
	font-weight: 700;
}

nav > a.logo {
	margin-right: 2ch;
}

nav > ul {
	padding: 0;
	margin: 0 0 0 auto;
	font-weight: 400;
	display: flex;
	align-items: center;
	column-gap: 2ch;
}

a.active {
	color: #f54;
}

nav label {
	cursor: pointer;
	user-select: none;
	display: none;
}
a:hover, a:focus-visible, nav label:hover, nav input:focus-visible ~ label {
	color: #fff;
	text-shadow: #fff 0px 0 2px;
}
nav input { position: absolute; opacity: 0; display: none; }
@media (width < 64ch) {
	nav > label, nav > input {
		display: block;
	}
	nav > ul {
		transition: max-height 300ms ease-in-out;
		max-height: 0;
		width: 100%;
		overflow: hidden;
		flex-direction: column;
	}
	#toggle-menu:checked ~ ul, ul:focus-within {
		max-height: 13em;
	}
}

header {
	text-align: right;
	color: #f54;
	padding: 0 max(50% - 600px, 1ch);
	position: sticky;
	top: 0;
	margin-bottom: 75px;
}
header a { 
	padding: 0 0.5ch;
} 

main {
	padding: 0 max(50% - 600px, 1ch);
}

main p {
	text-align: center;
	margin: 1em auto;
	max-width: 80ch;
}

footer {
	padding: 0.25rem max(50% - 600px, 1ch);
	margin-top: auto;
}
